* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://assets.unenvironment.org/styles/article_billboard_image/s3/2021-05/alberta-2297204_1920.jpg?h=1483c54f&amp;itok=GdjA9GRu");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.top-nav {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.top-nav #myLinks {
  display: none;
}

/* Style navigation menu links */
.top-nav a {
  color: #fff;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  cursor: pointer;
}

/* Style the hamburger menu */
.top-nav a.icon {
  background: rgba(0, 0, 0, 0.8);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.top-nav a:hover {
  /* cursor: default; */
}

.page-text {
  padding: 10px;
  margin: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
}

.img-group {
  text-align: center;
}

.img-group img {
  width: 400px;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.nav-links {
  text-align: right;
}

.api_module {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
}

.text-group {
    padding: 10px;
}

.button-group {
  padding: 10px;
}

.output-group {
  padding: 10px;
}

.output-group a {
    text-decoration: none;
    color: #fff;
}

.output-group a:hover {
    color: #2978B5;
}

/* Contact Card */
.contact-info {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.contact-card {
  padding: 0 30px;
  margin: 0 30px;
  width: calc(33% - 30px);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50px;
}

.card-icon {
  font-size: 28px;
  background: #161616;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}

.contact-card:hover .card-icon {
  background: none;
  transform: scale(1.6);
}

.contact-card p {
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
}

.contact-card a {
  text-decoration: none;
  color: inherit;
}

.contact-card:hover p {
  max-height: 40px;
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .contact-info {
    flex-direction: column;
  }
  .contact-card {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }
}
/* End of Contact Cards */